.main-tasks 
  .main_tasks_group
    = icon('fas', 'angle-double-right', class: 'icon')
    = @group.name
    = link_to edit_group_path(@group) do
      = icon('fas', 'users-cog', class: 'icon')
    .main_tasks_group_member
      Members :
      - @group.users.each do |user|
        = link_to user.name, "users/#{user.id}", class:""
        -# = user.name
        
  .contents
    - @tasks.each do |task|
      .contents_content
        .contents_content_task 
          -if current_user.id == task.user_id 
            -# = check_box :task, :done, {class: "check_box"}, true, false
          = task.content    
          -if current_user.id == task.user_id  
            = link_to "","tasks/#{task.id}", method: :delete, class:"fa fa-trash"
        .contents_content_user
          = task.user.name
        .contents_content_time
          = task.created_at.strftime("%Y年%m月%d日 %H時%M分")
  .form
    = form_for [@group, @task] do |f|
      = f.text_field :content, class: 'form__message', placeholder: 'type a text'
      = f.submit 'Send', class: 'message-create__btn__send'


-# = link_to "", group_task_path(task), method: :delete, class:"fa fa-trash"
-# -if user_signed_in? current_user.id == task.user_id